nav{
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding:20px;
   border-bottom: 2px solid #f3f3f3;
   z-index: 999;
   margin-left:2rem;
}

input{
    
    padding:12px 20px;   /*increases the size of input box*/
    
    border: none;
    background: #f7f6f6;
    outline:none;
    border:none;
    border-radius: 5px;
    position:relative;
    width:14rem;
    margin-right: 20px;
   

}




.nav-icons{
    width:1.5rem;
    height:1.5rem;
    margin-left: 2rem;
    color:#3c39f1c1;
}